head { size: 1px;}

body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f6f6f6ff;
  }


   p {
    margin: 0;
    background-color: #646363ff;
  }
 
ul,  li{        
    margin:0;
    padding:0;
    list-style: none;
    font-weight: bold;
    color:white;
}


a {
    text-decoration: none;
    color:inherit;
}

.page {
   display: flex;   
}






/* ################ MENU ONGLET ################################################
https://grafikart.fr/tutoriels/tp-tabs-776
Transition normal appliqué >
Transition opaque --> 28min
*/

#ASES { /* DIV A MOFIFIER UNE FOIS LE CODE FINI */
    color:rgb(18, 0, 175);
}
.tabs li, .tabsDT li{
    float:left;
    display: block;
    margin-top: 30px;
}
.tabs:after, .tabsDT:after{
    display: table;
    content: ' ';
    clear: both;
}

.tabs a {
    display:inline-block;
    background-color:#646363ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin:3px;
    width: 80px;
}

.tabs .active a {
    background-color:#2c9637ff;
}

.tabs-content {
    position:relative;
    z-index:3;
    padding: 20px;
    background-color:#f6f6f6ff;
    margin-bottom: 20px; font-size: 10px;
    font-family: 'Lato', sans-serif;
   
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.icone{
    width: 15px;
    height: 15px;
}

/* ################################ ------------ ################################ */


/* ################################ --STRUCTURE DE LA PAGE ---------- ################################ */
#Menu {
    width:40%;
}

#Map {
    width: 60%;
}

#Edit p, #Delete p, #Search p {
    color:red;
}



/* ################################ ------------ ################################ */


/* ################################ -------FORMULAIRE----- ################################ */


form {
    display:block;
    flex-flow: column no wrap; 
}

/* buttons */
[type="submit"],[type="reset"]{
    background-color:#3d8643;
    color: white;
    border: none;
    padding: 8px 10px;
    margin: 2px;
    border-radius: 8%;
    cursor: pointer;
    
    box-shadow: inset 1px 1px 3px rgb(255 255 255 / 60%), 
                inset -1px -1px 3px rgb(0 0 0 / 60%);
    outline : none;
            }

  [type="reset"]:active , [type="submit"]:active {
    background-color: #57c160
  }

/*choisir fichiers */



/* ################################ ------------ ################################ */


/* ################################ -------ADD PAGE----- ################################ */


/* fields */
[type="text"] , [type="imput"], .text {
     height: 30px; 
    width: calc(12vw);
    margin: 5px 0%;
    box-sizing: border-box;
    border: 2px solid rgba(204, 204, 204, 0.514);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5%;
    text-align: left; } 



    
/* div parentes du format, datatype, project */ 


.field{
    color: #cacacaff;
}


.field, #Add-DataType, #Add-Lidar, #Add-Project, #Add-submit{     /*mother div */
    display: block;
    border:3px solid; /* A SUPP FIN */
    /*border-color: coral; */
}

#Add-Format, #Add-Lidar, #Add-Project, #Add-submit   /* ADD DATATYPE  PAS EN FLEX: CHANGER??  */
{
    display:flex;
    border: 1px solid;
    justify-content: space-around;
   }


#Add-Ortho, #Add-IMG, #Add-IMG>div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  
  h2 {
      display:grid;
    width: 100%;
    color:#646363ff;
    justify-content: center !important;
  }
 

   #Add-IMG > #checkIMG  {     /*  les div sont cote à cote avec les check en colonne*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
  }

  #Add-IMG > div:first-of-type { 
    display: flex;
    width: 100%;
  }

  #Add-IMG > div:first-of-type > div:first-of-type { /*start end */
    display: flex;
    justify-content: space-around;
    width: 100%;
}


  #Add-Lidar >div{
      display: flex;
  }

  #checkIMG {
    flex-direction: row !important;
  }


  /*checkbox */

  ul.ul-checkbox {
    list-style: none;
    display:table;
    table-layout: fixed;
  }

  .ul-checkbox li {         /* size */
    height: 29px; 
    display:table-row;
  }
  
  .ul-checkbox li label {
    display: table-cell;
    background-color: white;
    border: 1px solid rgba(139, 139, 139, .3);
    color: black;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding:5px 4px 3px 4px;
    cursor: pointer;
    }

ul.ul-checkbox li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 5px 4px 3px 4px;
    content: "+";
    transition: transform .1s ease-in-out;
    
}

ul.ul-checkbox li input[type="checkbox"]:checked + label::before {
    content: "✓";
    transform: rotate(-360deg);
    transition: transform .2s ease-in-out;
}

ul.ul-checkbox li input[type="checkbox"]:checked + label{
    
    background-color: #2c9637ff; 
    border: 1px solid white;
    color: white;
    transition: all .2s;

}

ul.ul-checkbox  li input[type="checkbox"] {
    display: absolute;
  }

  ul.ul-checkbox  li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
 




/* ################################ ------------ ################################ */


/* ################################ --SEARCH PAGE ---------- ################################ */
table {
    border: medium solid #000000;
  }
  
  thead{
      color:#fff;
      background-color:dimgray
  } 
  
  .t {
      background-color: rgb(0, 141, 19);
  }
  
  .f {
      background-color: rgb(141, 0, 0);
  }
  
  button {
      background-color: #1f7496;
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  
  button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  h3 span {
      color:green;
  }